.SideDrawer {
  height: 100%;
  background-color: rgba(6, 12, 34, 0.98);
  opacity: 0.98;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 320px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.SideDrawer.open {
  transform: translateX(0);
}
.SideDrawer ul {
  height: 90%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.SideDrawer li {
  margin: 0.5rem;
}

.SideDrawer a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all ease-in-out 0.3s;
}
.SideDrawer a:hover,
.SideDrawer a:active {
  color: #f82249;
  text-decoration: none;
}
@media (min-width: 1050px) {
  .SideDrawer {
    display: none;
  }
}
